<a href="https://colab.research.google.com/github/123chan6/test_002/blob/main/%EC%88%98%ED%96%89%ED%8F%89%EA%B0%80.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [127]:
# 2022학년도 1학년 1학기 프로그래밍(파이썬) 수행평가
# 한양공업고등학교 1학년 12반 3번 김승찬

# 1 . 변수 사용하기

삼성전자 = 50000
print("1 번 문제")
print("삼성전자 주식 10주 가치 : " , 삼성전자*10 , "(원)")

print()

# 2 . 문자열을 정수로 변환

year = "2020"
print("2 번 문제")
print("최근 3년의 연도 : " ,int(year)-3 ,"년", int(year)-2 , "년" , int(year)-1 , "년")

print()

# 3 . 아래 문자열에서 '홀' 만 출력하세요

string = "홀짝홀짝홀짝"
print("3 번 문제")
for i in range(0 , 5 , 2):
  print(string[i], end = "")
print()

print()

# 4 . 문자열을 거꾸로 뒤집어 출력하세요

string = "PYTHON"
string_list = list(string)
string_list.reverse()
print("4 번 문제")
for i in range(len(string)) :
  print(string_list[i] , end = "") #이렇게 푸는게 맞나
print()

print()

# 5 . movie_rank 리스트에는 아래와 같이 네 개의 영화 제목이 바인딩 되어 있다
# "슈퍼맨"을 "닥터 스트레인지"와 "스플릿" 사이에 추가하라

movie_rank = ['닥터 스트레인지' , '스플릿' , '럭키' , '배트맨']
movie_rank.insert(1,'슈퍼맨')
print("5 번 문제")
print(movie_rank)

print()

# 6 . 슬라이싱을 사용해서 홀수만 출력하라

nums = [1 , 2 , 3 , 4 , 5 , 6 , 7 , 8 , 9 , 10]
nums_ans = []
print("6 번 문제")
for i in range(0 , 10 , 2):
  nums_ans.append(nums[i])
print(nums_ans)

print()

# 7. 리스트에 있는 값을 오름차순으로 정렬하세요

data = [2 , 4 , 3 , 1 , 5 , 10 , 9]

data.sort()
print("7 번 문제")
print(data)

print()

# 8 . 문자열 출력
#변수에 다음과 같이 문자열과 정수가 바인딩되어 있을 때 % formatting 을 사용해서 다음과 같이 출력해보세요

name1 = "김민수"
age1 = 10
name2 = "이철희"
age2 = 13
print("8 번 문제")
print("""이름 : %s 나이 : %s
이름 : %s 나이 : %s"""%(name1 , age1 , name2 , age2))

1 번 문제
삼성전자 주식 10주 가치 :  500000 (원)

2 번 문제
최근 3년의 연도 :  2017 년 2018 년 2019 년

3 번 문제
홀홀홀

4 번 문제
NOHTYP

5 번 문제
['닥터 스트레인지', '슈퍼맨', '스플릿', '럭키', '배트맨']

6 번 문제
[1, 3, 5, 7, 9]

7 번 문제
[1, 2, 3, 4, 5, 9, 10]

8 번 문제
이름 : 김민수 나이 : 10
이름 : 이철희 나이 : 13